eval "$(lorri direnv)"

##########
# POETRY #
##########

# https://python-poetry.org/docs/basic-usage/
# https://rgoswami.me/posts/poetry-direnv/
# https://github.com/direnv/direnv/wiki/Python

POETRY_VIRTUALENVS_IN_PROJECT=true
export POETRY_VIRTUALENVS_IN_PROJECT

# POETRY_VIRTUALENVS_PATH=.venv
# export POETRY_VIRTUALENVS_PATH